.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.ingredients-column {
  text-align: center;
}

.steps-column {
  max-height: 25vh;
  text-align: left;
  overflow: scroll;
}

.form-container {
  margin-top: 1%;
  padding: 20px;
  justify-content: center;
}

.mb-3 {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 10px;
}



.row {
  margin-top: 1%;
  padding: 20px;
  display: grid;
  justify-content: center;
}

.create-form {
  margin-top: 1%;
  padding: 20px;
  display: grid;
  justify-content: center;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-submit-btn {
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.use-pin-row-style {
  width: 25vw;
  display: contents;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 50%;
}

.login-form-row {
}

.image {
  display: flex;
  justify-content: center;
  max-width: 800px;
  max-height: 200px;
  margin: auto; 
  padding-top: 0px;
  padding-bottom: 0px;

}
